<div class="container">
  <h1 class="text-center">店舗検索</h1>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :content_cont %>
    <%= f.submit "検索" %>
  <% end %>
  <div class="col-xl-9 posts">
    <div class="wrap">
      <%= render @posts %>
    </div>
  </div>
</div>
