/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "bootstrap/scss/bootstrap";

/* 全体 */
html {
  flex-direction: column;
  height: 100%;
}

body {
  height: 100%;
  background-color: hsl(39, 100%, 94%);
}

main {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: hsl(39, 100%, 94%);
}

.base-container {
  margin: 7% auto 0;
  padding: 1rem;
}

.navbar-brand {
  font-family: "Londrina Shadow", cursive;
  font-size: 20px;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

/* ページネーション部分 */
.pagination {
  justify-content: center;
  margin-top: 80px;
}

/* いいね機能 */
.vertical_like {
  text-align: center;
  margin: 100px 100px 0 35px;
  width: 100px;
  display: flex;
}

.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

/* フラッシュの色 */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
