/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "bootstrap/scss/bootstrap";

/* 全体 */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fffaf0;
}

main {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fffaf0;
}

.base-container {
  margin: 7% auto 0;
  padding: 1rem;
}

.navbar-brand {
  font-family: "Londrina Shadow", cursive;
  font-size: 20px;
}

footer {
  font-family: "Londrina Shadow", cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

/* ページネーション部分 */
.pagination {
  justify-content: center;
  margin-top: 80px;
}

/* いいね機能 */
.vertical_like {
  text-align: center;
  margin: 100px 100px 0 35px;
  width: 100px;
  display: flex;
}

.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

.button-group .btn {
  max-width: 800px;
  justify-content: center;
  margin: auto;
  background: #f1e767;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f1e767),
    to(#feb645)
  );
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
  font-family: "Londrina Shadow", cursive;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.button-group .btn:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f1e767),
    to(#feb645)
  );
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}

/* フラッシュの色 */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
