.base-container {
  margin-top: 0;
  flex-direction: column;
}

.full_image {
  width: 50%;
  max-height: 400px;
}

.like_to_post {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 0;
}

.like_lead {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.vertical_like {
  position: relative;
  border-radius: 8px;
  background: #fffaf0;
  display: block;
  box-sizing: border-box;
  color: #111;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: auto;
  padding: 10px 20px;
  cursor: pointer;
}

.card-body {
  .text_space {
    color: rgb(0, 0, 0);
  }
}

.thumb-image,
.noimage {
  width: 200px;
  height: 130px;
}

.post_img_full {
  text-align: center;
}

.icon_image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  object-fit: cover;
}

.icon_image_side {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.thumbnail img,
.thumbnail-nav img {
  width: 100%;
}

.thumbnail-thumb {
  max-width: 500px;
  margin: 0 auto;
}

.thumbnail-thumb li {
  margin: 5px;
}

/***** 投稿画像 サムネイル *****/
.thumbnial-thumb .slick-next {
  right: 20px;
  z-index: 100;
}

.thumbnail-thumb .slick-prev {
  left: 15px;
  z-index: 100;
}

.thumbnail-thumb .slick-current {
  opacity: 0.5;
}

.thumbnail-thumb div div div {
  cursor: pointer;
}

.thumbnail-thumb .slick-track {
  transform: unset !important;
}

.icon_space {
  padding: 10px 0 0 10px;
  margin-right: 15px;
}

#wrapper {
  background-image: image-url("big-bg.jpg");
  background-size: cover;
  min-height: 30vh;
}

.post-content .page-title {
  font-family: "Londrina Shadow", cursive;
  font-size: 50px;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding-top: 80px;
  text-align: center;
  text-shadow: 1px 2px 3px #009966;
}

.post-content p {
  font-weight: bold;
  font-size: 25px;
  color: rgb(24, 23, 23);
  margin: 10px 0 0;
  text-align: center;
}

.post-url {
  margin: 5px 0 0;
}

.posts {
  width: 74%;
}

aside {
  width: 32%;
}

.user-panel {
  height: 160px;
  padding-top: 10px;
}

.card-body {
  display: flex;
  overflow: hidden;
  padding-bottom: 0;
}

.text_space .text_content {
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_space {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .card-text {
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.text_space {
  .text_content {
    font-size: 17px;
  }
}

a:hover {
  text-decoration: none;
}

.thumbnail_space {
  display: flex;
  margin-left: auto;
}

.like_space {
  margin: auto 15px 0 0;
  color: #696969;
}

.user_info {
  text-align: center;
  color: #000;

  .user_name {
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
  }

  .user_name_side {
    font-size: 10px;
  }

  .user_name {
    p {
      color: #000;
    }
  }
}

.post_info {
  text-align: center;
  margin-top: 40px;

  .post_entry {
    width: 80%;

    p {
      font-size: 18px;
    }
  }
}

.user_info {
  width: 60%;
}

.post_name {
  text-align: center;
  font-size: 35px;
  overflow-wrap: break-word;

  p {
    font-size: 25px;
    padding: 10px 200px;
    overflow-wrap: break-word;
  }
}

.content-entry {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Cabin Sketch", cursive;
}

.comment-submit {
  background-color: #6cc792;
  border-radius: 0.5rem;
}

.comment-create {
  text-align: right;
}
.comment-counter {
  padding-left: 20px;
  font-weight: bold;
}

.comment-title {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}
.comment_destroy {
  margin: auto 0 0 auto;
  padding-right: 20px;

  a {
    color: #4453637c;
  }
}

.comment-date {
  margin-left: auto;
  padding-right: 10px;
  color: #4453637c;
}

.comment-container {
  display: flex;

  .comment-content {
    width: 80%;
  }
}

.comment-user {
  text-align: center;
  padding-top: 10px;

  .comment-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
  }
}

// スマホ対応
@media screen and (max-width: 960px) {
  // 投稿一覧

  .main-contents {
    flex-direction: column;
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .panel {
    margin: 60px 0;
  }

  .posts {
    width: 100%;
  }

  .card-body {
    padding: 20px 0 0 0;
  }

  .thumbnail_space {
    display: none;
  }

  .text_space {
    .card-text {
      margin: 0;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .text_content {
    display: none;
  }

  .icons {
    margin-left: auto;
    padding-right: 15px;
    font-size: small;
  }

  .icon_image {
    width: 40px;
    height: 40px;
  }

  .form-content {
    min-height: 200px;
  }

  #all_content {
    padding: 0;
  }

  .user_info {
    width: 100%;
  }

  // 投稿詳細
  .post_entry .page-title {
    text-align: center;
    padding-top: 40px;
  }

  .post-content p {
    display: none;
  }

  .post_info {
    flex-direction: column;

    .user_info {
      width: 100%;
    }

    .post_entry {
      width: 100%;
      text-align: center;
    }
  }

  .comment_destroy {
    padding-right: 0;
  }
}

.search-button {
  text-align: center;
  background-color: #c27c2d7e;
  margin-bottom: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
