.base-container {
  margin-top: 0;
  flex-direction: column;
}

.card-body {
  background: #ffffffcc;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  height: 100px;
  padding-top: 18px 1.25rem;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-img-top {
  height: 195px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .card-img-top {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .card-img-top {
    height: 300px;
    width: 100%;
  }
}

.card-text {
  color: #000011;
  font-weight: bord;
  font-size: 18px;
}

.full_image {
  width: 500px;
  height: 400px;
}

.thumbnail {
  max-width: 500px;
  max-height: 400px;
  width: 500px;
  height: 400px;
  margin: 0 auto 5px;
  padding: 0;
}

.post_img_full {
  text-align: center;
}

#wrapper {
  background-image: image-url("big-bg.jpg");
  background-size: cover;
  min-height: 30vh;
}

.post-content .page-title {
  font-family: "Londrina Shadow", cursive;
  font-size: 50px;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding-top: 80px;
  text-align: center;
  text-shadow: 1px 2px 3px #009966;
}

.post-content p {
  font-weight: bold;
  font-size: 25px;
  color: rgb(24, 23, 23);
  margin: 10px 0 0;
  text-align: center;
}

.post-url {
  margin: 5px 5 0;
}

.post-tel {
  margin-top: 0px;
}

.posts {
  width: 74%;
}

.card-body {
  display: flex;
  overflow: hidden;
  padding-bottom: 0;
}

.text_space .text_content {
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_space {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .card-text {
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.text_space {
  .text_content {
    font-size: 17px;
  }
}

a:hover {
  text-decoration: none;
}

.like_space {
  margin: auto 15px 0 0;
  color: #696969;
}

.post_name {
  text-align: center;
  font-size: 35px;
  overflow-wrap: break-word;

  p {
    font-size: 25px;
    padding: 10px 200px;
    overflow-wrap: break-word;
  }
}

.post-date {
  margin-left: auto;
  padding-right: 10px;
}

.title-label {
  font-weight: bold;
  font-size: 20px;
  border-bottom: #000000;
}

.comment-submit {
  background-color: #6cc792;
  border-radius: 0.5rem;
}

.comment-create {
  text-align: right;
}
.comment-counter {
  padding-left: 20px;
  font-weight: bold;
}

.comment-title {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}

.comment_destroy {
  margin: auto 0 0 auto;
  padding-right: 20px;

  a {
    color: #4453637c;
  }
}

.comment-date {
  margin-left: auto;
  padding-right: 10px;
  color: #4453637c;
}

.comment-container {
  display: flex;

  .comment-content {
    width: 80%;
  }
}

.comment-user {
  text-align: center;
  padding-top: 10px;

  .comment-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
  }
}

// スマホ対応
@media screen and (max-width: 960px) {
  // 投稿一覧

  .posts {
    width: 100%;
  }

  .text_space {
    .card-text {
      margin: 0;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .text_content {
    display: none;
  }

  .user_info {
    width: 100%;
  }

  // 投稿詳細
  .post_entry .page-title {
    text-align: center;
    padding-top: 40px;
  }

  .post-content p {
    display: none;
  }

  .post_info {
    flex-direction: column;

    .user_info {
      width: 100%;
    }

    .post_entry {
      width: 100%;
      text-align: center;
    }
  }

  .comment_destroy {
    padding-right: 0;
  }
}

.card-post {
  border-radius: 1rem;
  background-color: #ffffff;
}

.search-button {
  text-align: center;
  background-color: #c27c2d7e;
  margin-bottom: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
