.guest-login-button {
  text-align: center;
  background-color: #c5af86;
  border-radius: 0.5rem;
}

.login-button {
  text-align: center;
  background-color: #fa8072;
  border-radius: 0.5rem;
}

.delete-button {
  text-align: center;
  background-color: rgb(85, 141, 224);
  margin-top: 2rem;
  border-radius: 0.5rem;
}
