.guest-login-button {
  text-align: center;
  background-color: #c5af86;
  border-radius: 0.5rem;
}

.login-button {
  text-align: center;
  background-color: #fa8072;
  border-radius: 0.5rem;
}

.delete-button {
  text-align: center;
  background-color: rgb(224, 85, 85);
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.sign_up-button {
  text-align: center;
  background-color: #6cc792;
  border-radius: 0.5rem;
}

.change-button {
  text-align: center;
  background-color: #6cbcc7;
  border-radius: 0.5rem;
}
